#home1{
/* border: 1px solid red; */
height: 100px;
width: 50%;
text-align: left;
display: flex;
}
#leftside{
/* border: 1px solid red; */
width: 60%;
height: 500px;
/* display: flex; */
}
#home1{
    display: flex;
}
#home1 >img{
height: 80px;
width: 60%;
margin-left: 20%;
margin-top: 10%;
}
#home2{
    /* display: flex; */
}
#home2 >h2{
    margin-left:50%;
    margin-top: -3.8%;
    color: black;
    font-size: 16px;
}
#home2 >h2 >a{
    color: black;
}

#home2 >h2 >a:hover{
    color:rgb(240, 157, 5);
}
#home3{
  
}
#home3>h3{
    /* margin-left: 33%; */
    margin-top: -4.6%;
    margin-left:80%;
    font-size: 16px;
    border: 1px solid black;
    background-color: black;
    width: 12%;
    height: 30px;
    box-shadow: 10px, 10px,10px;
}
#home3 >h3 >a{
    color: white;  
}


#move{
    margin-top: 8%;
    margin-left: -36%;
}
#move>h1{
   
    font-size: 42px;
}
#order{
    margin-left: -10%;
    margin-top: -15px;
    color: #686d7c;
}
#order>h3{
font-size: 25px;
}
#inp{
    margin-left: 11%;
    display: flex;
}
#inp>input{
height: 50px;
width: 70%;
border: 1px solid rgb(196, 195, 194);
/* outline: 1px solid orange; */
outline: none;
font-size: 18px;
}
#inp>input:hover{
    border: 1px solid #fc8019;
    outline: 1px solid #fc8019;
}
#inp>button{
    margin-top: -1px;
    height: 56px;
    width: 18%;
    background-color: #fc8019;
    outline: none;
    border: none;
    font-size: 18px;
    color: white;
    }
    #popu{
        margin-left: -55%;
        margin-top: 25px;
        
    }
    #popu>h3{
        font-size: 16px;
        color: #686d7c;
        font-weight: 600;
    }
    #cty{
        margin-left: -8%;
        
    }
    #cty>h3{
        font-size: 17px;
        color: #686d7c;
        font-weight: 600;
    }
    #cty1{
        margin-left: -66%;
        margin-top: -13px;
    }
    #cty1>h3{
        /* margin-left: -68%; */
        font-size: 17px;
        color: #686d7c;
        font-weight: 600;
    }
    #rightside{
        margin-left: 60%;
        margin-top: -37%;
    }
    #rightside img{
        height: 514px;
        width: 100%;
    }
    #part2{
        /* border: 1px solid red; */
        width: 100%;
        height: 350px;
        background-color: #2b1e16;
    }
    #lineimg>img{
    height: 180px;
    width: 12%;
    margin-left: -67%;
    /* margin-top: 30px; */
    }
    #part2{
        /* display: flex; */
    }
    #lineimg1>img{
        height: 198px;
        width: 12%;
        margin-left: -5%;
        margin-top: -70%;
        }
        #lineimg2>img{
            height: 215px;
            width: 12%;
            margin-left: 60%;
            margin-top: -90%;
            }
            #no{
                margin-left: -67%;
                margin-top: -30px;
            }
            #no>h2{
               color: white;
               font-size: 20px;
            }
            #no>h4{
                color:rgb(221, 220, 220);
                margin-top: -13px;
                margin-left: 3px;
            }
            #no>h5{
                color:rgb(221, 220, 220);
                margin-top: -13px;
                margin-left: -3px;
                font-size: 16px;
            }
            #no1{
                margin-top: -8%;
                margin-left: -5%;
            }
            #no1>h2{
                color: white;
                font-size: 20px;
            }
            #no1>h4{
                color:rgb(221, 220, 220);
                margin-top: -13px;
                margin-left: 3px;
            }
            #no1>h5{
                color:rgb(221, 220, 220);
                margin-top: -13px;
                font-size: 16px;
            }
            #no2{
                margin-left: 65%;
                margin-top: -7.4%;
            }
            #no2>h2{
                color: white;
                font-size: 20px;  
                margin-left: -9%;
            }
            #no2>h4{
                color:rgb(221, 220, 220);
                margin-top: -13px;
                margin-left: -25px;
            }
            #no2>h5{
                color:rgb(221, 220, 220);
                margin-top: -13px;
                font-size: 16px;
                margin-left: -28px;
            }