#home1 {
  /* border: 1px solid red; */
  height: 100px;
  width: 50%;
  text-align: left;
  display: flex;
}

#leftside {
  /* border: 1px solid red; */
  width: 60%;
  height: 500px;
  /* display: flex; */
}

#home1 {
  display: flex;
}

#home1>img {
  height: 80px;
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
}

#home2 {
  /* display: flex; */
}

#home2>h2 {
  margin-left: 65%;
  margin-top: -3.8%;
  color: black;
  font-size: 16px;
}

#home2>h2>a {
  color: black;
}

#home2>h2>a:hover {
  color: rgb(240, 157, 5);
}

#home3 {
  /* border: 1px solid black;
  width: 10%;
  height: 30px; */
}

#home3>h3 {
  /* margin-left: 33%; */
  margin-top: -4.4%;
  margin-left: 73%;
  font-size: 16px;
  border: 1px solid black;
  background-color: black;
  width: 7%;
  height: 30px;
  box-shadow: 10px, 10px, 10px;
}

#home3>h3>a {
  color: white;
}


#move {
  margin-top: 8%;
  margin-left: 11%;
}

#move>h1 {

  font-size: 42px;
}

#order {
  margin-left: 11%;
  margin-top: -15px;
  color: #686d7c;
}

#order>h3 {
  font-size: 25px;
}

#inp {
  margin-left: 11%;
  display: flex;
}

#inp>input {
  height: 50px;
  width: 70%;
  border: 1px solid rgb(196, 195, 194);
  /* outline: 1px solid orange; */
  outline: none;
  font-size: 18px;
}

#inp>input:hover {
  border: 1px solid #fc8019;
  outline: 1px solid #fc8019;
}

#inp>button {
  margin-top: -1px;
  height: 56px;
  width: 18%;
  background-color: #fc8019;
  outline: none;
  border: none;
  font-size: 18px;
  color: white;
}

#popu {
  margin-left: 11%;
  margin-top: 25px;

}

#popu>h3 {
  font-size: 16px;
  color: #686d7c;
  font-weight: 600;
}

#cty {
  margin-left: 11%;

}

#cty>h3 {
  font-size: 17px;
  color: #686d7c;
  font-weight: 600;
}

#cty1 {
  margin-left: 11%;
  margin-top: -13px;
}

#cty1>h3 {
  /* margin-left: -68%; */
  font-size: 17px;
  color: #686d7c;
  font-weight: 600;
}

#rightside {
  margin-left: 60%;
  margin-top: -37%;
}

#rightside img {
  height: 520px;
  width: 100%;
}

#part2 {
  /* border: 1px solid red; */
  width: 100%;
  height: 350px;
  margin-top: -4px;
  background-color: #2b1e16;
}

#lineimg>img {
  height: 180px;
  width: 12%;
  margin-left: 10%;
}

#lineimg1>img {
  height: 198px;
  width: 12%;
  margin-left: 40%;
  margin-top: -70%;
}

#lineimg2>img {
  height: 215px;
  width: 12%;
  margin-left: 75%;
  margin-top: -90%;
}

#no {
  margin-left: 10%;
  margin-top: -30px;
}

#no>h2 {
  color: white;
  font-size: 20px;
  margin-left: -10px;
}

#no>h4 {
  color: rgb(221, 220, 220);
  margin-top: -13px;
  margin-left: -55px;
}

#no>h5 {
  color: rgb(221, 220, 220);
  margin-top: -13px;
  margin-left: -50px;
  font-size: 16px;
}

#no1 {
  margin-top: -8%;
  margin-left: 40%;
}

#no1>h2 {
  color: white;
  font-size: 20px;
  margin-left: -13px;
}

#no1>h4 {
  color: rgb(221, 220, 220);
  margin-top: -13px;
  margin-left: -55px;
}

#no1>h5 {
  color: rgb(221, 220, 220);
  margin-top: -13px;
  font-size: 16px;
  margin-left: -50px;
}

#no2 {
  margin-left: 65%;
  margin-top: -7.4%;
}

#no2>h2 {
  color: white;
  font-size: 20px;
  margin-left: 24%;
}

#no2>h4 {
  color: rgb(221, 220, 220);
  margin-top: -13px;
  margin-left: 17%;
}

#no2>h5 {
  color: rgb(221, 220, 220);
  margin-top: -13px;
  font-size: 16px;
  margin-left: 21%;
}

/* //SIGNUP START */

#sign-up,
#login {
  animation: swap-in 0.5s forwards;
  /* border: 1px solid red; */
  background-color: white;
  width: 35%;
  height: 110vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: +2;
}

@keyframes swap-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

.signUp-page,
.login-page {
  /* border:1px solid blue;  */
  height: 80%;
  width: 70%;
  margin: 5%;
}

.login-page {
  /* border:1px solid blue;  */
  height: 60%;
}

.signUp-page>div:nth-child(1),
.login-page>div:nth-child(1) {
  /* border:1px solid red;  */
  text-align: left;
  padding: 0 10px;
  font-size: 1.5vw;
  font-weight: 500;
  color: #75727c;
  cursor: pointer;
}

.signUp-page>div:nth-child(2),
.login-page>div:nth-child(2) {
  /* border:1px solid red; */
  height: 15%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.signUp-page>div:nth-child(2)>div:nth-child(1),
.login-page>div:nth-child(2)>div:nth-child(1) {
  /* border:1px solid blue;  */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.signUp-page>div:nth-child(2)>div:nth-child(1)>h2,
.login-page>div:nth-child(2)>div:nth-child(1)>h2 {
  text-align: left;
  font-weight: 500;
}

.signUp-page>div:nth-child(2)>div:nth-child(1)>p,
.login-page>div:nth-child(2)>div:nth-child(1)>p {
  color: #fc8019;
}

.signUp-page>div:nth-child(2)>div:nth-child(1)>p>strong,
.login-page>div:nth-child(2)>div:nth-child(1)>p>strong {
  color: #75727c;
  font-weight: lighter;
}

.signUp-page>div:nth-child(2)>div:nth-child(2),
.login-page>div:nth-child(2)>div:nth-child(2) {
  /* border:1px solid blue;  */
  width: 30%;
  background-image: url('https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/Image-login_btpq7r');
  background-size: 100% 100%;
}

.signUp-page>div:nth-child(3),
.login-page>div:nth-child(3) {
  margin: 10% 0;
  /* border:1px solid blue;  */
  height: 25%;
}

.signUp-page>div:nth-child(3)>form,
.login-page>div:nth-child(3)>form {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.signUp-page>div:nth-child(3)>form>input,
.login-page>div:nth-child(3)>form>input {
  /* border:1px solid blue;  */
  width: 100%;
  height: 33.3%;
  font-size: 1.2vw;
  padding: 0 20px;
  outline: none;
  width: 80%;
  margin: auto;
}

.signUp-page>div:nth-child(4),
.login-page>div:nth-child(4) {
  /* border:1px solid blue; */
  width: 90%;
  height: 30%;
  margin: auto;
  text-align: left;
}

.signUp-page>div:nth-child(4)>p:nth-child(1) {
  height: 25%;
  width: 100%;
  color: #6298dd;
  font-size: 1.1vw;
  font-weight: bold;
}

.signUp-page>div:nth-child(4)>button,
.login-page>div:nth-child(4)>button {
  width: 100%;
  height: 25%;
  border: none;
  outline: none;
  background-color: #fc8019;
  color: white;
  font-size: 1.2vw;
  cursor: pointer;
}

.signUp-page>div:nth-child(4)>p:nth-child(3),
.tc {
  font-size: 12px;
  padding: 10px 0;
}

/* start homeswig  nav bar*/

.navbar {
  height: 80px;
  width: 100%;
  background-color: white;
  /* border: 1px solid red; */
}

.nav-left {
  display: flex;
}

.nav-left>img {
  height: 74px;
  margin-left: 2%;
}

.nav-left>h4 {
  margin-left: 15px;
  margin-top: 30px;
}

.nav-left>h5 {
  margin-left: 10px;
  margin-top: 34px;
}
.nav-right{
  display: flex;
  margin-left: 15%;
}

.inpi{
  margin-left: 40px;
}
.input{
  margin-top: 30px;
  margin-left: 40%;
}
.input>input{
  width: 70%; 
  height: 30px;
  border: none;
  outline: none;
}
.nav-3rd{
  display: flex;
  margin-left: -12%;
}
.nav-3rd>div>h4{
  margin-left: 75px;
  margin-top: 30px;
}
.nav-3rd>div>h4:hover{
  color: #da6506;
}
.nav-3rd>div>sub{
  color: #fc8019;
}
/* Nav bar end */



.bottom {
  height: 300px;
  width: 100%;
  /* border: 1px solid blue; */
  background-color: #171a29;
  display: flex;
}
.bottom>:nth-child(1)>img{
     height: 250px;
     width: 100%;
     margin-top: 25px;
     margin-left:30% ;
}
.bottom>:nth-child(2)>img{
  height: 250px;
  width: 100%;
  margin-top: 25px;
  margin-left:50% ;
}
.bottom>:nth-child(3)>img{
  height: 250px;
  width: 100%;
  margin-top: 25px;
  margin-left:70% ;
}
.bottom>:nth-child(4)>img{
  height: 250px;
  width: 100%;
  margin-top: 25px;
  margin-left:90% ;
}

.list {
  /* border: 1px solid red; */
  height: 80px;
  width: 100%;
  display: flex;
}
.left-ss{
  margin-left: 8%;
  /* display: flex; */
}
.h11{
  /* margin-left: 7%; */
  margin-top: 30px;
  font-size: 20px;
  opacity: 0.8;

}
.right-ss{
  display: flex;
  margin-left: 12%;
}
.right-ss>div>h4{
  margin-left:35px;
  margin-top: 42px;
  opacity: 0.7;
  font-weight: 400;
}
.filter>h4{
  margin-left: 40px;
  margin-top: 42px;
  opacity: 0.7;
  font-weight: 400;
}
.filter>h4:hover{
  color: #da6506;
}



#products {
  width: 100%;
  border: 1ps solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#products>div {
  height: 350px;
  width: 20%;
  border: 1px solid black;
  box-shadow: 3px 3px red, -1em 0 .4em olive;
}
#products>button{
  margin-left: 30px;
}


#products>div>img {
  height: 200px;
  width: 80%;
  margin-left: 30px;
}

#products>div>h1 {
  font-size: 16px;
  /* margin-left: 20px; */
  text-align: center;


}

#products>div>p {
  text-align: center;
  margin-top: -8px;
  opacity: 0.8;

}

.addp {
  margin: auto;
  text-align: center;
}
.buttoncart{
  margin-left: 35%;
  height: 25px;
  background-color: #f7b37c;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}








/* cart */



.adjust-width-r{
  /* border:1px solid blue; */
  width:20%;
  }
  .adjust-width-r >div{
    width:35%;
  }
  .adjust-width-l{
  /* border:1px solid blue; */
  width:30%;
  }
  .adjust-width-l >div{
    width:50%;
  }
  .cart-top{
    /* border:1px solid blue; */
    height:90vh;
  }
  .cart-top >div{
    /* border:1px solid blue; */
    height:75%;
    margin: 5% auto;
    width:30%;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
  }
  .cart-top >div >div:nth-child(1){
    height:60%;
    width:70%;
    margin:auto;
  }
  .cart-top >div >div:nth-child(1) >img{
    width: 100%;
    height:100%;
  }
  .cart-top >div >h3{
    height:10%;
    font-size:1.5vw;
  }
  .cart-top >div >p{
    height:10%;
    font-size:1.2vw;
  }
  .cart-top >div >button{
    height:10%;
    font-size:1.1vw;
    background-color:#fc8019;
    color:white;
    outline:none;
    border:none;
    width:60%;
    margin:auto;
  }
  .cart-order{
    height:90vh;
    width:100%;
    background-color: #e5e7e9;
    border: 1px solid #e5e7e9;
  }
  .cart-order>div{
    /* border:1px solid blue;  */
    height:95%;
    margin: 1% auto;
    width:75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .cart-order-l{
    /* border:1px solid red; */
    width:65%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .cart-order-r{
    /* border:1px solid blue; */
    height:95%;
    width:25%;
    background-color: white;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
  }
  .cart-order-l >div:nth-child(1){
    /* border:1px solid red; */
    background-color: white;
    height:30%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .cart-order-l >div:nth-child(1){
    /* border:1px solid red; */
     background-color: white;
    height:20%;
    width:100%;
  }
  .cart-order-l >div:nth-child(2){
    /* border:1px solid red; */
     background-color: white;
    height:50%;
    width:100%;
  }
  .cart-order-l >div:nth-child(3){
    /* border:1px solid red; */
     background-color: white;
    height:15%;
    width:100%;
  }
  .cart-order-l-userInfo{
    /* border:1px solid blue; */
    display: flex;
    height: 40%;
    width:35%;
    margin-top: -20px;
    justify-content: space-evenly;
    align-items: center;
  }
  .cart-order-l-userInfo >p,i{
    font-size: 1.5vw;
    color:#282c3f;
  }
  .cart-order-l-userInfo >i:nth-child(3){
    color:#60b246;
  }
  .cart-order-l-user-details{
    /* border:1px solid blue; */
    width:35%;
    height:25%;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 12%;
    margin-top: -8%;
  }
  .cart-order-l-user-details >p{
    font-size: 1.5vw;
    font-weight: bolder;
    color:#282c3f;
  }
  .cart-order-l-address-top{
    /* border:1px solid blue;  */
    height: 30%;
    width:80%;
    margin: 3% 3%;
    text-align: left;
    color:#282c3f;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
  }
  .cart-order-l-address-top >h3{
    font-size: 1.3vw;
  }
  .cart-order-l-address-top >p{
    font-size: 1.1vw;
  }
  .cart-order-l-address-bot{
    /* border:1px solid blue;  */
    width:40%;
    height:50%;
    margin-left:3%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cart-order-l-address-bot:hover{
    border:1px solid grey;
    box-shadow: 1px 1px 5px 1px #75727c;
  }
  
  .cart-order-l-address-bot >div{
    /* border:1px solid blue;  */
    display: flex;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
  }
  .cart-order-l-address-bot >div>div:nth-child(1){
    /* border:1px solid blue;  */
    width:20%;
  }
  .cart-order-l-address-bot >div>div:nth-child(1) >i{
    color:#60b246;
  }
  .cart-order-l-address-bot >div>div:nth-child(2){
    /* border:1px solid blue;  */
    text-align: left;
    width:80%;
  }
  .cart-order-l-address-bot >div>div:nth-child(2) >h3{
    font-size: 1.2vw;
  }
  .cart-order-l-address-bot >div>div:nth-child(2) >p{
    font-size: 1vw;
  }
  .cart-order-l-address-bot >button{
    height: 30%;
    margin: 5% 0;
    width:50%;
    border: 1px solid #60b246;
    background-color: transparent;
    outline: none;
    color:#60b246;
    font-size: 1.1vw;
    font-weight: 600;
    cursor: pointer;
  }
  .cart-order-l-payment{
    /* border:1px solid blue;  */
    height: 50%;
    width:20%;
    margin: 3% 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .cart-order-l-payment >h3,i{
    font-size: 1.3vw;
  }
  .display-order>div{
    /* border:1px solid red;  */
    height:10vh;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
  }
  .display-order>div>div:nth-child(1){
    /* border:1px solid blue;  */
    width:20%;
    height:80%;
  }
  .display-order>div>div:nth-child(1) >img{
    height:100%;
    width:100%;
  }
  .display-order>div>div:nth-child(2){
    /* border:1px solid blue;  */
    width:65%;
    height:80%;
    text-align:left;
    color:#282c3f;
  }
  .display-order>div>div:nth-child(2) >h3{
    font-size:1vw;
  }
  .display-order>div>div:nth-child(2) >p{
    font-size:1vw;
  }
  .apply-coupon{
    border:3px dotted grey; 
    height:8vh;
    margin: 5% 3%;
    display: flex;
    align-items:center;
    justify-content:center;
  }
  .apply-coupon p, i{
    font-size:1.2vw;
    margin: 0 3%;
  }
  .bill-details{
    /* border:1px solid blue;  */
    margin-top: -17%;
    margin-left: 15px;
  }
  .bill-details >h4{
    /* border:1px solid blue;  */
    text-align: left;
    margin-top:15%;
    /* margin:6% 3%; */
    font-size:1.2vw;
  }
  .bill-details >div{
    /* border:1px solid blue;  */
    width:90%;
    margin:auto;
    /* height: 20px; */
    margin-top: -8%;
  }
  .bill-details >div >div{
    /* border:1px solid red;  */
    margin: 1vw 0;
    display:flex;
    justify-content:space-between;
    margin-top: -8%;
  }
  .bill-details >div >div:nth-child(3){
    border-top:1px solid grey;
  }
  .bill-details >div >div >p{
    font-size:0.9vw;
    margin-top: -3px;
  }
  .pay-bill{
    display:flex;
    justify-content:space-between;
    width:90%;
    /* margin-top: -10%; */
    margin:auto;
    border-top:3px solid black;
    margin-left: 25px;
  }
  .pay-bill >p{
    font-size:12px;
    font-weight:500;
    margin-top: -10%;
  }